<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <div class="message-image"><%= cl_image_tag message.user.photo.path, class: "avatar" %></div>
  <div class="message-content"><%= message.content %></div>
</div>
