// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #EEF0F2;

//chosen colors
$blue: #3E92A3;
$light-gray: #DFE0D4;
$dark-gray: #353940;
$dog-runner-color: #98cc98;
$dog-runner-bg-color: #98cc98;
$dog-runner-font-color: rgb(100,100,100);

