.bg-position-home {
  background-position: 57%;
  background-size: cover;
}


.home_banner {
  height: 70vh;
  .banner_content {
    height: 70vh;
    padding-top: 10%;
  }
  h1 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin: 0px;
  }
  .home-subtitle, p {
    font-family: $headers-font;
    font-weight: medium;
    color: white;
    font-size: 25px;
    margin: 0px;
  }

  .home-subtitle {
    margin: 0px 6px 0px 0px;
  }

  #banner-text {
    height: 85%;
    padding: 80px 15px 15px;
  }
  a.btn.btn-primary.btn-md {
    width: 115px;
  }
  #banner-scroll a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
  }
}

.home_box_wrapper {
  height: 100%;
  background-color: $dog-runner-bg-color;
  display: block;
}

.home_box {
  background: $dog-runner-bg-color;
  border-radius: 4px;
  height: 90vh;
  width: 100%;
  margin: 10px 0px auto;
  padding-top: 130px;

  img {
    height: 50px;
    margin-bottom: 20px;
  }

  .number {
    border: 1px solid $dog-runner-color;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-weight: lighter;
    font-size: 18px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 17px;
  }
  .icon {
    font-size: 45px;
    color: $dog-runner-color;
    margin-bottom: 13px;
  }
  h3 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid $dog-runner-color;
    margin-bottom: 30px;
    padding-bottom: 12px;
    opacity: 0.8;
  }
  p {
    font-family: $body-font;
    font-weight: medium;
    font-size: 15px;
    opacity: 0.8;
  }
  ul {
    font-family: $body-font;
    font-weight: medium;
    opacity: 0.8;
    list-style: none;
    font-size: 14px;
    color: black;
    margin: 5px;
    padding: 0px;
    line-height: 30px;
  }
  a {
    margin-top: 40px;
  }
  .benefits li {
    z-index: 1;
    list-style: none;
    font-size: 14px;
    margin: 5px;
    font-weight: lighter;
  }
}

.scroll-link a {
  color: $dog-runner-font-color;
  text-decoration: none;
  opacity: 0.7;
}

.light-gray-bg {
  background-color: rgb(245,245,245);
}

