
.banner {
  h1 {
    z-index: 1;
    font-family: $headers-font;
    font-weight: bolder;
    font-size: 30px;
    color: white;
  }

  p {
    z-index: 1;
    font-family: $headers-font;
    font-weight: medium;
    color: white;
    font-size: 15px;
  }
}

.homeContentWrapper {
  z-index: -1;
  height: 830px;
  background-color: $dog-runner-color;
  opacity: 0.7;
  padding-top: 20px;
}
.homeContentWrapper .dog-runner-box {
  z-index: 1;
  height: 240px;
}

.homeContentWrapper .howItWorks .number{
  z-index: 1;
  border: 1px solid #2ba6cb;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: lighter;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 17px;}

  .homeContentWrapper .howItWorks .icon {
    z-index: 1;
    font-size: 25px;
    color: #2ba6cb;

  }

  .homeContentWrapper .howItWorks .text {
    z-index: 1;
    font-family: $headers-font;
    font-weight: medium;
    font-size: 13px;

  }
  .homeContentWrapper {
    h3 {
      z-index: 1;
      font-family: $headers-font;
      font-weight: medium;
      font-size: 20px;
      border-bottom: 1px solid #2ba6cb;
      margin-bottom: 14px;
      padding-bottom: 12px;
    }

    .benefits li {
      z-index: 1;
      list-style: none;
      font-size: 11px;
      margin: 12px;
      font-weight: medium;
      font-family: $headers-font;
    }

    .whyUs li {
      z-index: 1;
      list-style: none;
      font-size: 11px;
      margin: 12px;
      font-weight: medium;
      font-family: $headers-font;
    }

  }

























