#overwriteButton {
  width: 104%;
}

#overwriteShit {
  margin-bottom: 20px;
}

.secret-page-container {
  background-color: $dog-runner-bg-color;
  height: 100%;
  min-height: 700px;
  width: 100vw;
  margin: 0;
  .dog-runner-box {
    padding: 10px 0;
  }
}
