// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

// Temporary bc color was too light to see
.form-control {
  color: black !important;
}

.styled-bg-container {
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height: 70vh;
  margin-top: -70px;
}

.height-100 {
  height: 100vh;
}

.width-100 {
  width: 100%;
}

.opacity-80 {
  opacity: 0.8;
}

.bg-position-center {
  background-position: center;
  background-size: cover;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  h1 {
    font-size: 50px;
  }
}
