<%= content_for :gps_class, "gps" %>

<div class="container">
  <div class="row">
    <div class="col col-xs-12">

  <!--     <%= @run.note.html_safe %> -->

<div style='background-color:#333;'><a id='ltw_home_url' href='https://locatoweb.com'>LocaToWeb - Real time GPS tracking</a><iframe id='ltw_embed_frame' frameborder='0' style='width:100%;height:600px;border-top:1px solid #000;'></iframe></div><script>var ltwtrackurl='single/1249113435';</script>
<script src='//locatoweb.azureedge.net/scripts/embed-1.1.3.min.js'></script>


    </div>
  </div>
</div>

