<div class="page-wrapper">
  <div class="content-container">

    <h1>Help Center</h1>
    <br>

    <p>This page is under construction.</p>
    <br>

    <div class="help_box">
      <h3><strong>TOPIC HERE</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro ad repreh enim, obcaecati nihil recusandae rerum.</p>
    </div>

    <div class="help_box">
      <h3><strong>TOPIC HERE</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro ad repreh enim, obcaecati nihil recusandae rerum.</p>
    </div>

    <div class="help_box">
      <h3><strong>TOPIC HERE</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro ad repreh enim, obcaecati nihil recusandae rerum.</p>
    </div>

    <div class="help_box">
      <h3><strong>TOPIC HERE</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam porro ad repreh enim, obcaecati nihil recusandae rerum.</p>
    </div>


  </div>
</div>
