<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Dog Runners</h1>

      <br>
      <h2>Design coming today...</h2>
      <br>

      <%= button_to "Get Started!", new_user_registration_path, method: :get %>

    </div>
  </div>
</div>
