


<div class="banner styled-bg-container bg-position-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://static.wixstatic.com/media/83df61_a5191021e26541d7bcde4f08cde5f4bd.jpg');">
  <div class="banner-content">
    <h1>Fit dogs are happy dogs</h1>
    <br>
    <p>Dog Runners wants to keep your dog happy</p>
    <br>
    <br>
    <%= link_to "Get started!", new_user_registration_path, method: :get, class: "btn btn-primary btn-md" %>
  </div>
</div>

<div class="homeContentWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box howItWorks">
          <div class="col-xs-12"><h3 class="text-center">How it works</h3></div>
          <div class="col-xs-4 text-center">
            <p class="number text-center">1</p>
            <i class="fa fa-paw icon" aria-hidden="true"></i>
            <p class="text">Request DogRunner</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="number">2</p>
            <i class="fa fa-check icon" aria-hidden="true"></i>
            <p class="text">Confirm booking</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="number">3</p>
            <i class="fa fa-map-marker icon" aria-hidden="true"></i>
            <p class="text">Track your dog</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box benefits">
          <div class="text-center"><h3>Benefits of running</h3></div>
            <div class="benefitsContent">
              <li>Improved behavior and confidence</li>
              <li>Fewer joint and health problems</li>
              <li>Better sleep and mood</li>
              <li>Your dog will love it!</li>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box whyUs">
          <div class="text-center"><h3>Why DogRunners?</h3></div>
            <div class="whyUsContent">
              <li>We only hire dog lovers</li>
              <li>We're focused on your dog's fitness</li>
              <li>Over 50.000km of happy runs</li>
              <li>Real-time tracking and great reports</li>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

