
<div class="banner height-100 bg-position-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://www.thebabbleout.com/wp-content/uploads/2017/03/happiness5.jpg');">
  <div class="banner-content">
    <h1>Fit dogs are happy dogs</h1>
    <br>
    <br>
    <br>
    <%= link_to "Get Started!", new_user_registration_path, method: :get, class: "btn btn-primary btn-md" %>
  </div>
</div>

<div class="homeContentWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box howItWorks">
          <div class="col-xs-12"><h3 class="text-center">How it works</h3></div>
          <div class="col-xs-4 text-center">
            <p class="number">1</p>
            <i class="fa fa-paw icon" aria-hidden="true"></i>
            <p class="text">Request DogRunner</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="number">2</p>
            <i class="fa fa-check icon" aria-hidden="true"></i>
            <p class="text">Confirm booking</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="number">3</p>
            <i class="fa fa-map-marker icon" aria-hidden="true"></i>
            <p class="text">Track your dog</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box benefits">
          <div class="text-center"><h3>Benefits of running</h3></div>
          <li>Improved behavior and confidence</li>
          <li>Fewer joint and health problems</li>
          <li>Better sleep and mood</li>
          <li>Your dog will love it!</li>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dog-runner-box whyUs">
          <div class="text-center"><h3>Why DogRunners?</h3></div>
            <li><p>We only hire dog lovers</p></li>
            <li><p>We're focused on your dog's fitness</p></li>
            <li><p>Over 50.000km of happy runs</p></li>
            <li><p>Real-time tracking and great reports</p></li>
        </div>
      </div>
    </div>
  </div>

</div>

