.btn-no-bg {
  border: 1px solid $dog-runner-font-color;
  background-color: rgba(0,0,0,0);
  color: $dog-runner-font-color;
  &:hover {
  background-color: rgba(0,0,0,0);
  }
}


.btn-show {
  width: 140px !important;
  justify-content: center;
}


.button-show-box {
  display: flex;
  justify-content: space-around;

}


