.footer {
  background-color: #ffffff;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.07),0 1px 0 1px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-wagon-brand img {
  height: 20px;
  :hover {
  text-decoration: none;
  }
}

