#new-dog {
  padding-bottom: 40px;
}
.form-container {
  height: 100%;
  min-height: 95vh;
  // width: 100vw;
  background-color: $dog-runner-bg-color;
  padding-top: 20px;
  text-align: center;
  h3 {
    margin: 10px;
  }
  h2 {
    color: $dog-runner-font-color;
  }
  a {
    color: $dog-runner-font-color;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.7;
  }
  .form-inputs {
    padding: 30px 0 10px 0;
    color: $dog-runner-font-color !important;
    .checkbox {
      label {
        opacity: 0.7 !important;
        font-weight: lighter;
        font-size: 14px;
      }
    }
    .form-text-inputs {
      input, select {
        border: none;
        border-bottom: 1px solid rgba(53,57,64,0.3);
        color: $dog-runner-font-color !important;
        background-color: rgba(0,0,0,0);
        height: 40px;
        width: 320px;
        margin: 0 auto;
        box-shadow: none;
        text-align: center;
      }
      input::-webkit-input-placeholder {
        color: $dog-runner-font-color !important;
        opacity: 0.7;
      }
      input::-moz-placeholder {
        color: $dog-runner-font-color !important;
        opacity: 0.7;
      }
      input:-moz-placeholder {
        color: $dog-runner-font-color !important;
        opacity: 0.7;
      }
      input:-ms-input-placeholder {
        color: $dog-runner-font-color !important;
        opacity: 0.7;
      }
    }
  }
  .form-actions {
    .btn.btn-default {
      background-color: $dog-runner-font-color;
      color: $dog-runner-bg-color;
      border: 2px solid $dog-runner-font-color;
      width: 225px;
      padding-bottom: 10px;
    }
  }
  .attachinary {
    label {
      font-weight: lighter;
    }
    input {
      padding-left: 88px;
      border: none !important;
    }
  }
  .attachinary_container {
    ul {
      padding-left:0px;
      li {
        position:relative;
        display: inline-block;
        a {
          position: absolute;
          bottom: 0px;
          width: 100%;
          text-align: center;
          color: $dog-runner-font-color;
          background-color: rgba(0,0,0,0.85);
        }
      }
    }
  }
}


