.modal-body, .modal-footer {
  .dog-runner-box {
    width: 250px;
  }
    .btn {
      width: 60% !important;
    }
    h3 {
      font-size: 18px;
    }
    p {
      margin: 0px 0 6px;
      font-size: 13px;
    }
}
