/* Main navbar */
// .navbar-wagon {
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: white;
//   transition: all 0.3s ease;
//   height: 70px;
//   padding: 0px 30px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   color: $dog-runner-color;
// }

/* Logo */
.navbar-wagon-brand img {
  height: 30px;
}

// /* User Avatar */
// .navbar-wagon .avatar {
//   height: 35px;
//   width: 35px;
//   border-radius: 50%;
// }

// /* Right section */
// .navbar-wagon-right {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }




.mobile-wrapper{
  width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ALL MOBILES */


.mobile{
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.mobile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: #fff;
  padding: 10px;
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0;
}

.menu-line{
  width: 30px;
  height: 2px;
  margin: 10px 0;
  background-color: $dog-runner-color;
}

.menu-toggle {
  justify-content: space-between;
}

.menu-toggle:hover{
  cursor: pointer;
}

.mobile-nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* MOBILE ONE */

.mobile-one{
  background: #44cba0;
  background: -webkit-linear-gradient(#44cba0, #44bfc6);
  background: -o-linear-gradient(#44cba0, #44bfc6);
  background: -moz-linear-gradient(#44cba0, #44bfc6);
  background: linear-gradient(#44cba0, #44bfc6);
}

.mobile-nav{
  opacity: 0.9;
  z-index: 5;
  position: fixed;
  height: 90vh;
  top: 50px;
  background-color: #3C3842;
  width: 50%;
  transform: translate(200%, 0);
  // was -100
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-nav h2{
  padding: 25px 20px;
  margin-top: 0px !important;
}

.mobile-nav {
  background-color: #FFFFFF !important;
}
.mobile-nav li a{
  color: $dog-runner-color;
  opacity: 1 !important;
  display: block;
  padding: 15px 20px;
}

.mobile-nav li a:hover{
  background-color: #f4efef;
  color: #85b585;
  border-right: 3px solid #85b585;
  text-decoration: none;
}


