/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dog-runner-color;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}



.mobile-wrapper{
  width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ALL MOBILES */


.mobile{
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.mobile-header{
  background-color: #3C3842;
  color: #fff;
  padding: 10px;
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0;
}

.line{
  width: 30px;
  height: 2px;
  margin: 10px 0;
  background-color: #fff;
}

.menu-toggle:hover{
  cursor: pointer;
}

.mobile-nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* MOBILE ONE */

.mobile-one{
  background: #44cba0;
  background: -webkit-linear-gradient(#44cba0, #44bfc6);
  background: -o-linear-gradient(#44cba0, #44bfc6);
  background: -moz-linear-gradient(#44cba0, #44bfc6);
  background: linear-gradient(#44cba0, #44bfc6);
}

.mobile-nav{
  z-index: 5;
  position: fixed;
  height: 90vh;
  top: 50px;
  background-color: #3C3842;
  width: 100%;
  transform: translate(-100%, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-nav h2{
  padding: 25px 20px;
  margin-top: 0px !important;
}

.mobile-nav li a{
  color: #989AA4;
  display: block;
  padding: 15px 20px;
}

.mobile-nav li a:hover{
  background-color: #23252B;
  color: #fff;
  border-left: 3px solid #44bfc6;
}


