.tab-menu-container {

  padding: 0;
  padding: 0px 15px;
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  h4 {
    font-weight: bold;
    font-size: 14px;
    color: $dark-gray;
    margin: 10px 5px 4px 5px;
  }
  .active {
    border-bottom: 3px solid $dog-runner-color;
    h4 {
      font-size: 14px;
      color: $dog-runner-color;
    }
  }
}

.tab {

}

.tab-content-container {

}

.tab-content {

}

a.tab {
  text-decoration: none;
}
a.tab:hover {
  text-decoration: none;
}
a.tab:focus {
  text-decoration: none;
}

.progress {
  .tab-active {
    font-weight: bold;
  }
}
