// Checkboxes design
.dog-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.dog-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 100%;
  opacity: .4;
  flex: 0 0 45%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: white;
  }
  &.active {
  background: $brand-primary;
  border: thin white solid;

  color: white;
  opacity: 1;
  }
  p {
    margin-top: 135px;
  }
}


.duration-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;
}

.duration-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
    color: white;
  }
  &.active {
  background: $brand-primary;
  border: thin white solid;

  color: white;
  opacity: 1;
  }
}


// Form design
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}
