<div class="container">
  <div class="row">
    <div class="col col-xs-12">


      <h1>Run History</h1>

      <% if @runs %>
      <% @runs.each do |run| %>
      <% end %>
<!-- put runs here
link them here link_to run_path(run.id) -->

      <% else %>
      <p>You don't have any runs yet.</p>
      <%= button_to 'Book a Run', new_run_path, method: :get, class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
</div>


